.everywhere{
    color: black !important;
    background: #F4F7FB !important;
    font-weight: 400 !important; 
}
.item{
    transition: 0.2s ease;
}
.item:hover{
    background: none;
    color: #6F73EE;
}
.drop{
    background: rgba(244, 247, 251, 1) !important;
    border: none;
}
.dropmenu{
    border: none;
}
.arrow {
    transition: transform 0.2s ease-in-out;
}
button[data-state="open"] .arrow {
    transform: rotate(180deg);
}
.everywhere:focus {
    outline: none !important;
    box-shadow: none !important;
}


button.everywhere:focus {
    outline: none;
    box-shadow: none;
}