.price{
    color: #6F73EE !important;
    background: none !important;
    font-weight: 400 !important;
    padding: 10px 20px;
    border: 1px solid #6F73EE;
    transition: 0.2s ease;
}
.item{
    transition: 0.2s ease;
    background: rgba(244, 247, 251, 1);
}
.item:hover{
    background: none;
    color: #6F73EE;
}
.price-drop{
    background: rgba(244, 247, 251, 1) !important;
    border: none;
}
.arrow {
    transition: transform 0.2s ease-in-out;
}
button[data-state="open"] .arrow {
    transform: rotate(180deg);
}
.price:focus {
    outline: none !important;
    box-shadow: none !important;
}


button.price:focus {
    outline: none;
    box-shadow: none;
}
.price:hover{
    color: white !important;
    background-color: #6F73EE !important;
}

button[data-state="open"] .trig {
    transform: rotate(180deg);
}
.trig{
    transition: transform 0.2s ease-in-out;
}